@import './../../public/scss/common/variables.scss';

.coach {
  display: flex;
  align-items: center;
  &__line {
    display: flex;
    width: 15px;
    height: 2px;
    background: $coach-bg-color;
  }
  &__image-wrapper {
  	img {
  		height: 40px;
  	}
  }
}